[MESSAGES CONTROL]
disable =
    C0330,  # to work well with `black`
    W1510,  # I need to run subprocess.run without check because it's OK if it fails
    E0401  # import error: I run pylint in a separate environment so it's OK

[SIMILARITIES]
# Ignore imports when computing similarities.
ignore-imports=yes
